<h1>时间与场地安排</h1>
<h3>日期</h3>
12 月 8 日 上午 10:00 - 12 月 9 日 晚 21:00 (暂定)

<h3>日程安排</h3>
<p>
第一天<br>
<ul>
	<li>9:30 · 签到入场</li>
	<li>10:00 - 11:00 · Elevator Pitch</li>
	<li>11:00 - 11:30 · 投票 + Q&amp;A + 组队</li>
	<li>13:00 - 17:00 · 按项目小组工作 期间安排多名创业导师与个小组交流</li>
</ul>
<br>
第二天<br>
<ul>
	<li>10:00 - 16:00 · 按项目小组工作 期间安排多名创业导师与个小组交流</li>
	<li>17:00 · 截止提交商业计划、产品原型和演示文档</li>
	<li>17:00 - 18:30 · 创业者共进晚餐 与出席 Demo Night 的观众自由交流</li>
	<li>18:40 - 20:40 · Pitch + Showcase</li>
	<li>20:40 - 21:00 · 投票 + 公布结果 + 颁奖</li>
</ul>
</p>
<h3>场地</h3>
<p>创新工场</p>
