<h1>常见问题</h1>
<p><strong><a href="#what">iWeekend是什么？</a></strong><br>
<strong><a href="#dowhat">iWeekend做什么？</a></strong><br>
<strong><a href="#who">谁应该来参加iWeekend？</a></strong><br>
<strong><a href="#getwhat">在iWeekend你能得到什么？</a></strong><br>
<strong><a href="#workafter">iWeekend，本次活动结束后，活动参与者还需要继续完成未竟项目吗？</a></strong><br>
<strong><a href="#pay">初期方案和最终产品究竟归谁所有？我是不是只为此提供无偿劳动？或者说我还得白白花费100元人民币？</a></strong><br>
<strong><a href="#idea">所有的参与者都需要贡献点子吗？如果我暂时没有好点子也可以报名参与吗？</a></strong><br>
<strong><a href="#slide">我需要为创意的展示而准备幻灯片吗？</a> </strong><br>
<strong><a href="#suitable">我有点子，但不确定它是否适合本活动。具体来说，活动要求什么类型的点子创意？ </a></strong><br>
<strong><a href="#thief">如果有人偷走了我的创意怎么办？</a></strong><br>
<strong><a href="#watch">我能不能只是旁观这个活动？</a></strong><br>
<strong><a href="#equity">怎样分配初期方案的所有权？</a></strong><br>
<strong><a href="#grant">所选创意项目是否能获得某种形式的赞助或津贴？</a></strong><br>
<strong><a href="#organization">iWeekend的性质是不是公司？</a></strong><br>
<strong><a href="#city">你们何时会来我们城市？</a></strong><br>
<strong><a href="#scam">我该怎样确认你们不是诈骗？</a></strong></p>
<p>—————————————————–</p>
<p><strong><a name="what">iWeekend是什么？</a></strong></p>
<p>iWeekend是一个全球性非营利组织，总部在西班牙马德里。 每年帮助数以百万计的年轻人走上互联网创业的道路。<br>
iWeekend主题活动是50到100个互联网创业人在一起工作一个周末，创造出未来创业公司的雏形。<br>
iWeekend将有创业激情的软件工程师，商业经理人， 创业狂人，市场拓展和设计师聚在一起，在资深互联网企业家的指导下，共同把一个创业理想，互联网应用变为现实。</p>
<p><strong><a name="dowhat">iWeekend做什么？</a></strong></p>
<p>推崇在新科技领域的创业精神。<br>
将创业企业家与互联网技术人员聚在一起。<br>
享受并在创造新产品的过程中学习。</p>
<p><strong><a name="who">谁应该来参加iWeekend？</a></strong></p>
<p>将有创业激情的软件工程师，商业经理人， 创业狂人，市场拓展，平面设计师，或是任何对互联网创业有兴趣的人士。</p>
<p><strong><a name="getwhat">在iWeekend你能得到什么？</a></strong></p>
<p>创业企业家带来的是他们的灵感和设想，带走的是一个团队，一份商业计划书，产品的雏形和媒体的关注。多个在之前iWeekend活动中成长出来的公司都获得了成功。</p>
<p><strong><a name="workafter">iWeekend，本次活动结束后，活动参与者还需要继续完成未竟项目吗？</a></strong><br>
不做要求。在本次活动结束后，参与者不承担任何义务。当然，参与者可以个人名义就其项目彼此签约或以志愿者身份持续参与。</p>
<p><strong><a name="pay">初期方案和最终产品究竟归谁所有？我是不是只为此提供无偿劳动？或者说我还得白白花费100元人民币？</a></strong></p>
<p>活动报名费仅占本次 活动筹备费用来源比重中很小的一部分。诚然，您的付出在眼下的确是没有金钱或其他回报的。但长远来看，在本活动中，您与资深专业人员交流学习、并肩开发项目时所取得的经验和知识，以及由此搭建起来的人脉，都是不可多得的人生财富。初期方案和最终产品属针对可行创意建立起初期方案和最终产品的投资方所有。</p>
<p><strong><a name="idea">所有的参与者都需要贡献点子吗？如果我暂时没有好点子也可以报名参与吗？</a></strong></p>
<p>创意展示，不光需要有好的点子，亦乐意看到大家联手对该创意进行完善，而且涉及该创意的执行运营能力方面同样不可或缺。因此，我们同样期待着您的参与。<strong> </strong></p>
<p><strong><a name="slide">我需要为创意的展示而准备幻灯片吗？</a> </strong></p>
<p>我们对此不做要求。第一轮的创意展示限时1分钟，仅做口头展示即可（可借助图片，但不可使用电脑）。如果您在第一轮的展示中脱颖而出，则在第二轮限时3分钟的展示中，您可以选择借助幻灯片进行较为详细的展示。但不做强制限定。</p>
<p><strong><a name="suitable">我有点子，但不确定它是否适合本活动。具体来说，活动要求什么类型的点子创意？ </a></strong></p>
<p>我们所倾向的创意主要有以下两个特点：</p>
<ol>
<li>明晰易懂，对创意的理解无需高深的专业知识</li>
<li>首度版可在本次活动中实现完成（借由试用版软件，网站，博客等）。</li>
</ol>
<p>因此，需避免步骤繁琐、技术性要求过高的点子。</p>
<p>即使您的点子与上述特点有差异，我们依然欢迎您用创意和口才来征服我们。</p>
<p><strong><a name="thief">如果有人偷走了我的创意怎么办？</a></strong></p>
<p>空气里到处都是创意的味道，而在创意之上建构起辉煌伟业才更为重要。我们活动是公开的，会通过博客、微博对本次活动内容进行实时上传，确保每个创意者及其创意细节众所周知。因此，如果您需要保留自己的创意，那么建议您不要在此展示。</p>
<p><strong><a name="watch">我能不能只是旁观这个活动？</a></strong></p>
<p>因为席位有限，为使资源能够得到最合理的应用，我们只接受活动参与者。对创意活动感兴趣的朋友，可以通过“人人网”和“新浪微博”关注本次活动</p>
<p><strong><a name="equity">怎样分配初期方案的所有权？</a></strong></p>
<p>鉴于分配该项权利的难度，根据参与者的初衷和我们组织的使命，结合创意导师、创业专家的倾向意见：创意初期方案的所有权，由出资该创意项目的出资人自行决定。而我们组织会全力为参与者打造一个收获经验、创建人脉的氛围，期待着各项目的面世与成功。</p>
<p><strong><a name="grant">所选创意项目是否能获得某种形式的赞助或津贴？</a></strong></p>
<p>所选创意项目享受的是众人集思广益携手将创意理念打造成现实这一过程，和在这一过程中所历经的不懈努力及其最终成果。若有其他奖励，我们组织将会予以公布。</p>
<p><strong><a name="organization">iWeekend的性质是不是公司？</a></strong></p>
<p>不是。iWeekend是一个国际性的非营利组织，我们以弘扬创业文化作为自己的终极使命。</p>
<p><strong><a name="city">你们何时会来我们城市？</a></strong></p>
<p>如果您希望在您的城市参与或筹办iWeekend活动，请通过电子邮件<a onclick="javascript:pageTracker._trackPageview('/mailto/info@iweekend.org');" href="mailto:info@iweekend.org">info@iweekend.org</a>.联系我们。</p>
<p><strong><a name="scam">我该怎样确认你们不是诈骗？</a></strong></p>
<p>iWeekend 成立于2007年，在国际科技领域界具有良好声誉。iWeekend不以营利为目的，我们的品牌形象比参与费更为重要。如果您不信任我们，您可以查看我们网站上的北京信息，通过LinkedIn联络我们，或致电本地活动筹办经理， 您亦可以联络任意人做咨询评价。并且您可以通过参与展示活动，与我们及其他参与者见面，亲身体验和了解我们 。（选择参与下次活动）</p>
