<h1>iWeekend 是什么？</h1>
<p><a href="http://iweekend.org/" target="_blank">iWeekend</a> 是一家致力于推广与发展新科技领域的创业文化的全球性非盈利组织。</p>

<h3>我们热爱从无到有！</h3>
<p>在 iWeekend 周末活动上，五十位以上的创业者齐聚一堂，迈出实现梦想的第一步。</p>
<p>iWeekend 努力打造一个由不同文化、工作背景的参与者构成的相互协助、共同成长的创业者社区。我们鼓励在实践中学习，鼓励高质量的交流、分享与合作。</p>

<h2>如何参加 iWeekend ?</h2>
<p>如果你</p>
<p>
  <ul>
    <li>有对新事物的好奇心，热爱创造，喜欢面对挑战</li>
    <li>享受思维的碰撞，希望结识来自不同领域的牛人</li>
  </ul>	
</p>
<p>我们欢迎你的加入。<%= link_to "现在就报名吧！", apply_path %></p>

<h3>在一个周末中</h3>
<p>iWeekend 将有创业激情的软件工程师，商业经理人，创业狂人，市场拓展和设计师聚在一起，针对具体的挑战或问题，结成24小时的临时团队，进行思维碰撞、发挥集体智慧，在资深互联网企业家的指导下，共同把一个创业理想、互联网应用变为现实，为拥有潜力的创业项目打造解决方案。</p>
<p><%= link_to "详细了解 iWeekend 周末活动", agenda_path %></p>
<p>阅读更多：</p>
<p>
	<ul>
		<li><%= link_to "常见问题", faq_path %></li>
		<li>媒体报道</li>
		<li>在 iWeekend 成功孵化的创业项目</li>
	</ul>
</p>